@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap');

* {
    font-family: 'Outfit', sans-serif;
}

body {
    background: rgba(213, 225, 239, 1);
    font-size: 15px;
}

.container {
    height: 100vh;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* IMAGE */

.qr-card{
    display: flex;
    flex-direction: column;
align-items: center;
    background: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 280px;
    height: 450px;
    box-shadow: 0px 0px 50px rgb(180, 180, 180);
}

    .qr-card img {
        border-radius: 1rem;
        width: 100%;

    }

/* INFORMATION */

.info {
    text-align: center;
    width: 270px;
}

    .info h2{
        font-weight: 700;
    }
    .info p {
        color: rgba(124, 129, 140,1);
        font-weight: 400;
    }

